<div id="home">
  <div class="container p-3 mb-2 bg-light text-dark">
        <div class="row">
          <div class="col-8 offset-2">
            <h2>Welcome to GoodGames!</h2>
            <form class="clearfix mb-4 login" action="POST">
               <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Login</button>
              </form>
              <br><br>
              <a href='/signup'>New User?</a>
          </div>
        </div>
    </div>
</div>





